---
layout: default
title: Summer 2022 CRA DREU Project
---

<div class="section-heading"><i class="fas fa-square-full"></i> about me</div>
<div class="section">
  TODO I am Sreya Aluri, an international student at the University of Richmond. I am a rising senior and I intend to graduate in May of 2022 with a Bachelor of Science degree in Computer Science and Physics. 
  You can <a href="mailto:sreyaaluri@gmail.com">contact me via email</a>.
  <!-- You can know more about me through <a href="https://sreyaaluri.github.io">my website</a>. uncomment after personal website is done-->
</div>

<div class="section-heading"><i class="fas fa-square-full"></i> about my mentor</div>
<div class="section">
  TODO I worked on this research project under the guidance of Dr. Elaine Short.
</div>

<div class="section-heading"><i class="fas fa-square-full"></i> research overview</div>
<div class="section">
  TODO
</div>


<div class="section-heading"><i class="fas fa-square-full"></i> blog</div>
<div class="section">
  <!-- I have documented my research experience in weekly blogs. <br> -->
  {% for post in site.posts reversed %}
  {% if post.finished %}
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> /
  {% else %}
    {{post.title}} /
  {% endif %}
  {% endfor %}
</div>

<div class="section-heading"><i class="fas fa-square-full"></i> <!--<a href="./files/Research Final Report.pdf">-->final report</div>
</div>

<!-- <div></div><i class="fas fa-square-full"></i><h3>intro</h3>

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div> -->
